* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.our {
    margin: 30px;
    font-weight: 600;
    font-size: 35px;
}
  
  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  }
  
  .card img {
    width: 100%;

  }

  .row {
    width: 90%;
    margin: auto;
    display: flex;
  }

  .about-section {
    width: 80%;
    display: -ms-inline-flexbox;
    margin: auto;
    text-align: center;
    background-color: #474e5d;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: 30px;
    border-radius: 7px;
    padding: 40px;
    color: white;
  }

  .about-section p {
    margin: 4px;
  }
  
  .container {
    padding: 25px 30px;
  }
  

  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .container p {
    margin: 5px;

  }
  
  .title {
    color: grey;
  }
  
  .btn_about {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .btn_about:hover {
    background-color: #555;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }


.navbar {
    background: black;
    text-align: center;
}

.navbar ul {
    display: inline-flex;
    list-style: none;
    color: #fff;

}

.navbar ul li {
    width: 120px;
    margin: 10px;
    padding: 10px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
}

.active, .navbar ul li:hover
{
    background: gray;
    border-radius: 5px;
}

.navbar ul li i {
    margin: 5px;

}

.job_search {
    width: 80%;
    display: flex;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: 30px;
    border-radius: 7px;



}

.header_head {
    width: 30%;
    /* height: 80px; */
    font-size: 25px;
    border: none;

    /* background-color: red; */


}

.search_box {
    width: 70%;
    display: flex;
    justify-content: center;
    column-gap: 10px;
    padding: 20px;
    align-items: center;
}

.search_box>input {
    width: 80%;
    padding: 10px 15px;
    font-size: 20px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #e3dada;

}

.search {
    font-size: 18px;
    font-weight: 600;
    padding: 13px 30px;
    background-color: #0570E6;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;


}

.all_jobs {
    background-color: gray;
    font-size: 18px;
    font-weight: 600;
    width: 200px;
    padding: 13px 3px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}


.results {
    width: 80%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}

.result_box {
    width: 22%;
    padding: 10px;
    /* height: 80px; */
    text-align: center;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.result_box>h1 {
    margin-top: 10px;
}

.result_box>p {
    font-size: 20px;
}

.all_job_parent{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: auto;
    row-gap: 20px;
}

.job_parent {
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    margin: auto;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;


}

.job_child {
    width: 80%;
    padding: 20px 0;
    /* background-color: green; */

}
.job_child h3 {
 margin: 7px 0;

}

.job_child span {
    font-weight: 100;

}

.apply_btn{
    font-size: 18px;
    font-weight: 600;
    padding: 13px 30px;
    background-color: #0570E6;
    color: white;
    border: none;
    border-radius: 5px;
}